<!doctype html>
<html lang="en">
<%! from django.shortcuts import reverse %>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/dashboard/css/login.css" rel="stylesheet" />
</head>
<body>
    <%
        action = reverse('dashboard_login') if not to else '{}?to={}'.format(reverse('dashboard_login'), to)
    %>
    <form class="edit-area" action="${action}" method="post">
      <div class="form-group">
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="用户名">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
      </div>
      <button type="submit" class="btn btn-default">登录</button>
      ${error}
      ${csrf_token}
    </form>

</body>
</html>